body{
    font-family: 'Times New Roman', Times, serif;
}
.textColor{
    background-color: blue;
    width: 130px;
    margin-bottom: 100px;
}
h1{
    color: red;
}
.outline1{
    border: 1px solid black;
}
.outline2{
    border: 1px solid black;
}
.outline3{
    border: 1px solid black;
}
h2{
    background: green;
    border: 2px solid green;
    color: white;
    
}
.second{
    border-width: 40px;
    font-size: 21;
}
.inMiddle{
    text-align: center;
}
.link{
 color: blue;
}
.list{
    border: 2px solid black;
}
.linkEnd{
    color: blue;
}