body {
	font-family: 'Open Sans', 'Montserrat', 'Ubuntu';
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 59px;
}

p {
	line-height: 1.7em;
	font-family: 'Ubuntu';
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	background: linear-gradient(100.51deg, #4EBEFE 0%, #378FD9 100%);
	padding-top: 60px;
	padding-bottom: 93px;
	color: #fff;
	Width: 1920px;
	height: 827px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.offer {
	width: 490px;
}

.title {
	font-size: 37px;
	width: 1920px;
	height: 475px;
}

.title span {
	font-size: 59px;
}

.intro {
	margin-bottom: 43px;
	margin-top: 30px;
	width: 380px;
	height: 81px;
}

.btn {
	font-family: 'Montserrat';
	font-size: 15px;
	background: #FFD429;
	color: #000000;
	display: block;
	width: 222px;
	padding: 15px 28px 14px 28px;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #d9860e;
}

.page1 {
	width: 630px;
	height: 630px;
	left: 700px;
	top: 93px;
	box-shadow: rgb(90, 89, 109);
}

.learn {
	padding-top: 100px;
	padding-bottom: 100px;
	background: #E5E5E5;
	text-align: center;
}

.section-title {
	font-size: 30px;
	text-align: center;
}

.skills {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	margin-bottom: 22px;
	
}

.skill {
	text-align: center;
	background: url('../img/icontimemachine.png') no-repeat center top;
	
}

.skill-title {
	font-size: 19px;
	padding-top: 100px;
}

.skill-text {
	margin-top: 15px;
}

.skill-free {
	background: url('../img/iconbeach.png') no-repeat center top;
}

.skill-change {
	background: url('../img/iconspace.png') no-repeat center top;
}

.mail {
	background: #ECF3F8;
	padding-top: 100px;
	padding-bottom: 190px;
}

.form {
	margin: 0 auto;
	text-align: center;
	width: 340px;
}

.input {
	width: 289px;
	height: 48px;
	border: 1px solid #C9C9C9;
	color: #FFFFFF;
	display: block;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
	border-radius:3px;
	
	margin: 0 auto 15px;
}

.btn-form {
	border: 0;
	cursor: pointer;
	border-radius: 3px;
	margin: 0 auto 340px;
	width: 289px;
}

.footer {
	padding: 57px 0;
	background: #164D7A;
}

.credits {
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
}

/* Responsive/*
/*992px -1200px*/
@media screen and (max-width: 1200px){
	.container {
		width: 960px;
	}
	.header {
		padding-top: calc(62px * 0.86363636363636363636363636363636);
	}
	.wraper {
		flex-direction: column;
	}
	.offer {
		width: auto;
	}
	.intro {
		width: auto;
	}
	.page1 {
		display: block;

		width: calc(641px * 0.72727272727272727272727272727273);
	}
	.skills {
		flex-direction: column;
	}
	.skill {
		width: auto;
		margin-bottom: 30px;
	}
}
/*768px -992px*/
@media screen and (max-width: 992px){
	.container {
		width: 720px;
	}
	.wrapper {
		flex-direction: column;
		text-align: center;
	}
	.title {
		font-size: 35px;
	}
	.btn {
		display: inline-block;
		width: 222px;
		padding: 24px 0;
	}
	.intro {
		width: 556px;
		font-size: 16px;
	}
	.page1 {
		width: 50vw;
	}
	.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	.skill {
	width: 298px;
	padding-top: 70px;
	padding-bottom: 50px;
	}
	.skill-title {
	font-size: 19px;
	}
	.skill-text {
	width: 298px;
	}
}
/*576px -768px*/
@media screen and (max-width: 768px){
	.container {
		width: 540px;
	}
}
/*0 -576px*/
@media screen and (max-width: 576px){
	.container {
		width: 90%;
	}
}